<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end pb-0">
  <div id="<%= dom_id vente %>">

    <p>
      <strong>Name:</strong>
      <%= vente.nom %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= vente.nombre %>
    </p>
    <p>
      <strong>Prix:</strong>
      <%= vente.prix %>
    </p>

    <p>
      <strong>total:</strong>
      <%= vente.prix %>
    </p>

    <p>
      <%= link_to "Show this vente", vente, class:"btn btn-warning" %>
    </p>
<br>
  </div>

</div>
