<p style="color: green"><%= notice %></p>
<section class="py-3 py-md-5">
  <div class="container">
    <div>
      
      <%= link_to "Ajouter", new_vente_path, class:"btn btn-primary form-control"  %>
      <h1>Ventes</h1>

      <div id="ventes">
        <% @ventes.each do |month, ventes| %>
        <h2><%= month.strftime('%B %Y') %></h2><u>Total prix:</u> <strong><%= ventes.sum(&:prix) %> </strong>
         <h5></h5>
        <% ventes.each do |vente| %>
          <div class="mb-3">
            <%= render vente %>
          </div>
        <% end %>
        <% end %>
      </div>

